# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# production build
build/
dist/
.next/        # Next.js build
out/          # Next.js export

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# editor/IDE
.vscode/
.idea/
*.swp

# caches
.cache/
.vite/
.eslintcache
